.container {
  padding: 20px 0;
}

.container form div:nth-child(1) {
  width: 45%;
}

.container form div:nth-child(2) {
  width: 35%;
}

.container form div input {
  width: 100%;
  padding: 5px;
  font-size: 17px;
}

.container form div input::placeholder {
  width: 100%;
  width: 4.75rem;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  color: #c4c4c4;
}

.container form div:nth-child(1) input {
  height: 2.813rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.container form div:nth-child(2) input {
  height: 2.813rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.container form {
  display: flex;
  justify-content: space-between;
}

.container h3 {
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
  margin-bottom: 10px;
}

.container form button {
  width: 11.5rem;
  height: 2.813rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  font-family: "Roboto Slab", serif;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}
