@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 11%;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 1px 0 3px rgb(165, 164, 164);
}

.nav > div > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 170px;
}

.nav > div:nth-child(1) {
  display: flex;
  align-items: center;
}

.nav > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
}

.nav > div:nth-child(1) h1 {
  margin-right: 40px;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.nav > div:nth-child(1) ul li * {
  color: #121212;
  text-decoration: none;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
}

.icon {
  color: #0290ff;
}

.activeLink {
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}
